a {
    text-decoration: none;
}

#paragrafo {
    color: #000;
}

.rosso {
    color: red;
    text-transform: lowercase;
}

.grassetto {
    font-weight: bold;
}

.maiuscolo {
    text-transform: uppercase;
}

#div1 {
    background: red;
    width: 300px;
}

#div2 {
    background: yellow;
    width: 300px;
}